<H4>カウカウOnlineとは</H4>
即売会に特化したお買い物お助けアプリです。<br/>
使い方や、リリースノート、お問い合わせは以下のリンクをご確認ください。<br/>
</br>
<H4>使い方</H4>
<%= link_to "機能概要", "https://twitter.com/i/moments/1040880216426504192", target: "_new" %><br/>
<%= link_to "イベント計画作成と招待", "https://twitter.com/i/moments/1040881176074870784", target: "_new" %><br/>
<%= link_to "イベント当日の使い方", "https://twitter.com/i/moments/1040881786648113152", target: "_new" %><br/>
<%= link_to "一括登録機能について", "https://twitter.com/i/moments/1044835562627231744", target: "_new" %><br/>
<%= link_to "よくある質問", top_howto_path, target: "_new" %><br/>
<br/>
<H4>リリース関係</H4>
<%= link_to "リリースノート", "https://docs.google.com/spreadsheets/d/1ANK_lXJIOdgXFQxO76yF4RlvIbZ36WTZUTprjEz-CGc/edit?usp=sharing", target: "_new" %><br/>
<%= link_to "機能要望一覧", "https://docs.google.com/document/d/1fIggbNfZ8e3EFuBqMysroygJS0ps1GocGO0HfrK6MWw/edit?usp=sharing", target: "_new" %><br/>
<br/>
<H4>お問い合わせ</H4>
<%= link_to "マシュマロ", "https://marshmallow-qa.com/kaukau_online?utm_medium=twitter&utm_source=answer", target: "_new" %><br/>
<%= link_to "お問い合わせフォーム", top_contact_path, target: "_new" %><br/>
<br/>